@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    scroll-behavior: smooth;
}
  
:root {
    --font-family: "Poppins", sans-serif;
    --font-weight: 400;
    --font-style:normal;
}

.heading-color {
    color:#191970;
}

.button-color {
    background-color:#191970;
}

.bg-base {
    background-color:#191970;
}

.product-banner {
    background-image: url('/product/tempImagesXP0Zz.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}